<p id="notice"><%= notice %></p>

<h1>Articles</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Post</th>
      <th>User</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @articles.each do |article| %>
      <tr class="<%= cycle('list_line_odd','list_line_even')%>">
        <td><%= article.id %></td>
        <td><%= article.title %></td>
        <td><%= article.post %></td>
        <td><%= link_to 'Document', downloadDoc_url(id: article.id) %></td>
        <td><%= link_to 'PDF', downloadZip_url(id: article.id) %></td>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<br />
<br>

<%= link_to 'New Article', new_article_path %>

<%= link_to 'Downloads Statistics', '/downloads/statistics' %>


